{% extends "registration/index.html" %}
{% load thumbnail %}

{% block title_head %} وبلاگ  {% endblock %}

{% block main %} 

<div class="row">
    <div class="col-12">
      {% if object_list %}
      <div class="card">
        <div class="card-header">
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>عنوان</th>
                <th>نویسنده</th>
                <th>عکس مقاله</th>
                <th>تاریخ انتشار</th>
                <th>توضیح کوتاه</th>
                <th>دسته بندی</th>
                <th>مقاله ویژه</th>
                <th>وضعیت</th>

              </tr>
            </thead>
            <tbody>
            {% for article in object_list  %}
              <tr>
                <td> 
                  {% if article.status in 'bd'|make_list or user.is_superuser  %}
                  <a href="{% url 'account:article_update' pk=article.pk %}">{{ article.title }}</a>
                  {% else %}
                  {{ article.title }}
                  {% endif %}
                </td>
                <td> {{ article.auther.get_full_name }} </td>
                <td> 
                    {% thumbnail article.image "100x75" quality=75 crop='center' as im %}
                        <img src="{{ im.url }}" class="thumbnail-image">
                    {% endthumbnail %}
                </td>
                <td> {{ article.date }} <span class="tag tag-success"></span></td>
                <td> {{ article.description|striptags|truncatewords:"10" }} </td>
                <td> {{ article.category_to_str }} </td>
                <td>
                  {% if article.is_special  %}
                    <i class="fa fa-check-circle" style="color:green" ></i>
                  {% else %}
                    <i class="fa fa-minus-circle" style="color:red" ></i>
                  {% endif %} 
                </td>
                <td>
                {% if article.status == 'p' %}
                  <span class=" badge badge-success">منشتر شده </span>
                  <a target="_blank" class="badge badge-primary"
                  href=" {% url 'ArticleDetail' slug=article.slug %}">
                    مقاله در سایت
                  </a> 
                {% elif article.status == 'i' %}
                  <span class=" badge badge-success" style="background-color:brown"> در حال بررسی </span>
                  {% if user.is_superuser %}
                    <a target="_blank" class="badge badge-secondary"
                    href=" {% url 'ArticleDetail' slug=article.slug %}">
                  پیش نمایش در سایت
                  {% endif %}
                {% else %}
                  {% if article.status == 'd' %}
                    <span class=" badge badge-danger">پیش نویس </span>
                    {% else %}
                        <span class=" badge badge-warning">برگشت خورده</span>
                  {% endif %}
                    <a target="_blank" class="badge badge-secondary"
                    href=" {% url 'ArticlePreview' pk=article.pk %}">
                    پیش نمایش مقاله در سایت
                    </a>
                {% endif %}

                {% if user.is_superuser %}
                <a target="_blank" class="badge text-danger" href=" {% url 'account:article_delete' pk=article.pk %}">
                  delete
                {% endif %}
                </td>
        
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      {% else %}
      <h3> محتوایی برای نمیاش وجود ندارد </h3>
      {% endif %}
      <!-- /.card -->
    </div>
  </div>
{% endblock  %}