{% extends "registration/index.html" %}
{% block title %}{% block title_head %}
تغییر گذرواژه
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto" >
    <div class="card card-success">
        <div class="card-header" >
            <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
        </div>
    </div>
    <div class="card-body py-4">
        <form method="post">{% csrf_token %}
            <p p-2 >گذرواژه شما با موفقیت تغییر کرد</p>
        </form>    
    </div>
</div>
{% endblock %}