{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- اضافه کردن فایل CSS -->
    <link rel="stylesheet" href="{% static 'css/registration/login/login.css' %}">

    <style>
        .errors{
            color: rgb(77, 174, 239);
            background-color: rgba(0, 0, 0, 0.12);
            padding:23px 30px;
        }
    </style>

    {% if form.non_field_errors %}
    <div class="errors">
        {% for error in form.non_field_errors  %}
            <span>{{ error }} </span>
        {% endfor %}
    </div>
    {% endif %}

</head>
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">بازیابی رمز عبور</h1>
                <form method="post">
                    {% csrf_token %}
                    <label for="username">ایمیل:</label>
                    {{ form.email|add_class:"input100" }}
                        {% if form.username.errors %}
                        <div class="errors">
                            {% for error in form.username.errors  %}
                                <span>{{ error }} </span>
                            {% endfor %}
                        </div>
                        {% endif %}

                    <button class="opacity">ارسال</button>
                </form>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
    <!-- اضافه کردن فایل JavaScript -->
    <script src="{% static 'js/login.js' %}"></script>
    <script>
        // اینجا می‌توانید اسکریپت‌های خود را قرار دهید
    </script>
</body>
</html>
