{% load static %}
<link href="{% static 'css/category_navbar/navbar.css' %}" rel="stylesheet" />
<div class="collapse navbar-collapse nav" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0 ">
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href=" {% url 'ArticleList' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href=" {% url 'account:home' %}">Account</a>
        </li>
        {% for cat in category  %}
            {% if cat.parent == None %}
                <li class="nav-item ">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'category' slug=cat.slug %}">
                        {{ cat.title }}
                    </a>
                    {% if cat.children.active %}
                        {% include "partials/category_loop.html" %}
                    {% endif %}  
                </li>
            {% endif %}
        {% endfor %}
    </ul>
        <form class="search-form" action="{% url 'search' %}">
            <input type="text" name="q" class="form-control" placeholder="جست و جوی متن" >
            <button class="btn btn-success" >
                جست و جو  :
            </button>
        </form>
</div>