{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Article Detail {% endblock %}

{% block header %}
{% with image_url=detail.image.url %}
    <header class="masthead" style="background-image: url('{{ image_url }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ detail.title }}
                            {% if detail.is_special %}
                            <span class="badge badge-danger" style="color: brown;">ویژه</span>
                            {% endif %}
                        </h1>
                        <span class="meta">
                            Posted by
                            <a href="" style="color: chartreuse;">{{ detail.auther }}</a>
                            <br>
                           <time>{{ detail.date }} </time>
                        </span>                    
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endwith %}


{% endblock header %}

{% block content %}
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                   
                    <h2 class="section-heading">{{ article_detail.title }}</h2>
                    {% if detail.is_special  %}
                        {% if user.is_authenticated and user.is_special or user == detail.auther or user.is_superuser %}
                            <p>{{ detail.description|safe }} </p>
                        {% else %}
                            {{ detail.description|striptags|truncatewords:10}}
                            <p>را خریداری نمایید. این مقاله در دسته بندی مقالات ویژه قرار دارد. برای دیدن و مشاهده آن می‌بایست <a href="#">اشتراک ویژه</a> را بخرید.</p>                        {% endif %}
                    {% else %}
                    <p>{{ detail.description|safe }} </p>
                    {% endif %}
                    <blockquote class="blockquote"></blockquote>
                    {% comment %}
                        {% thumbnail detail.image "862x398" quality=75 crop='center' as im %}
                             <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% endcomment %} 

                </div>
            </div>
        </div>
    </article>

{% endblock  %}
