{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
    Articles
{% endblock %}


{% block header %}        
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Articles</h1>
                    <span class="subheading">Comming Soon ...</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for art in articles %}
            <div class="post-preview">
                <a href="{% url 'ArticleDetail' slug=art.slug %}">
                    {% thumbnail art.image "200x100" quality=75 crop='center' as im %}
                    <img src="{{ im.url }}" class="thumbnail-image">
                    {% endthumbnail %}
        
                    <div class="post-content">
                        <h2 class="post-title">{{ art.title }}</h2>
                        <p class="post-subtitle">{{ art.description|truncatewords:"3" }}</p>
                        <p class="post-meta"> Posted by <a href="#!"> {{ art.auther }} </a> {{ art.date }} </p>
                        <h3>
                           {% for cat in art.category.all %}
                           	{{ cat.title }}
                           {% endfor %}
                           
                            
                        </h3>
                    </div>
                </a>
            </div>
            <br>
            
            {% endfor %}
        
        

            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4">

                {% if page_obj.has_previous %}
                    <a class="btn btn-primary text-uppercase"href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% comment %}
                {% for page in paginator.page_range %}
                     <a href="?page={{ page }}">{{ page }}</a>
                {% endfor %}
                {% endcomment %}
                
                {% if page_obj.has_next %}
                    <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock  %}